html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-size: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  color: green;
}
span {
  color: green;
}
nav {
  margin-top: 30px;
  height: 80px;
  vertical-align: middle;
}
ul.list-inline {
  width: 50%;
}
.menu {
  width: 25%;
  height: 79px;
  color: black;
}
.selected {
  margin-top: 30px;
  margin-bottom: 30px;
}
.name {
  vertical-align: middle;
}
.intro {
  font-size: 27px;
  line-height: 1.6;
}

hr {
  margin: 10px, 622px;
}



.img {
  margin-bottom: 50px;
  border-radius: 25px;
}
.img1 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/todolist.png);
  background-size: 100% 100%;  
}
.text-img {
  position:relative;
  top:10%;
  left: 5%;
}

.text-img p{
  color:white;
}

.background-gradient{
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.4) 0, rgba(0, 0, 0, .3) 50%, rgba(0,0,0,.7) 51%, rgba(0,0,0,.5) 100%);
}
.img2 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/facebook.png);
  background-size: 100% 85%;
}
.img3 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/medium2.png);
}
.img4 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/newyork.png);
}
.img5 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/resto.png);
  background-size: 100% 100%;
}
.img6 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/weather.png);
  background-size: 100% 80%;
}
.img7 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/apple.png);
}
.img8 {
  position: relative;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background: url(img/newsweek.png);
}





.letrasup {
  height: 60px;
  padding: 15px;
  margin-top: 80px;
  margin-bottom: 0;
}

.letras {
  height: 20px;
  margin-bottom: 10px;
}

.foot{
   margin-bottom: 100px;
}

@media only screen and (max-width: 576px) {
  h4.logo {
    width: 100%;
    text-align: center;
  }

  ul.list-inline {
    width: 100%;
  }

  img {
    margin-left: 0;
  }

  .intro {
    font-size: 22px;
    line-height: 1.6;
  }
  ul.list-inline.letrasup {
    width: 100%;
    padding-right: 0;
    font-size: 14px;
    padding-bottom: 0;
    height: 40px;
    margin-top: 0;
  }
  .letras {
    font-size: 14px;
    height: 16px;
  }
}